<h4>Basic mat-select</h4>
<mat-form-field>
    <mat-label>Favorite Brands</mat-label>
    <mat-select [formControl]="brandControl" [(ngModel)]="selected">
        <mat-option *ngFor="let brand of brands" [value]="brand.value">
            {{ brand.viewValue }}
        </mat-option>
    </mat-select>
    <mat-error *ngIf="brandControl.hasError('required')">Please
        choose a brand</mat-error>
</mat-form-field>
<p>You selected: {{selected}}</p>

<h4>Basic native select</h4>
<mat-form-field>
    <mat-label>Brands</mat-label>
    <select matNativeControl required [(ngModel)]="selectedValue">
        <option *ngFor="let brand of brands" [value]="brand.value">
            {{ brand.viewValue }}
        </option>
    </select>
    <mat-error *ngIf="selectFormControl.hasError('required')">
        This field is required
    </mat-error>
</mat-form-field>
<p>You selected: {{selectedValue}}</p>